html, body{
    height: 100%;
    
}
body{
    display: flex;
    flex-direction: column;
}
.hero-image{
    background-image: url("images/jake.jpg");
    background-color: #cccccc;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    color: white;
    font-family: "PT Serif";
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 3rem;
    letter-spacing: 0.25em;
}
.inject-me{
    width: 30px;
    height: 30px;
}

.header-text{
    font-size: 2rem;
}

.content{
    flex: 1 0 auto;
    padding: 20px;
    height: 87%;
}
.footer{
    text-align: center;
    height: 30%;
}

footer{
    flex-shrink: 1;
}

footer > div{
    width: 50px;
    height: 50px;
    background-color: white;
    margin-left: 5%;
    
}

header{
    background-color: black;
    height: 5%;
}

.image_header{
    background-image: url("images/music_background_large.png");
    background-repeat: no-repeat;
    text-align: center;
    margin-left: -2%;
}

.image_header > h1{
    color: white;
    font-family: "PT Serif";
    font-style: italic;
    letter-spacing: 0.25em;
    margin-left: 4%;
}

.sect{
    margin-left: 10%;
    margin-top: 5%;
}

.sect > div {
    margin-left: -5.5%;
    width: 100%;
    margin-top: 3%;
}

section > div > div {
    padding: 0;
    margin-left: 5%;
    text-align: center;
}

.gal-img{
    width: 240px;
    margin: 0 auto;
}
section > div > div > a > h4  {
    margin-top: 5%;
}

a{
    text-decoration: none !important;
    color: black !important;
}

.center-square{
    width: 70%; 
    margin: 0 auto;
}

#about-content{
    width: 50%;
}

#contact{
    background-color: grey;
    width: 50%;
    padding: 1rem;
    text-align: center;
    margin-bottom: 5%;
}

.footer-container{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.social{
    width: 40%;
    margin: 0 auto;
}
.social > div{
    background-color: grey;
    width: 50px;
    height: 50px;
}