html, body{
    height: 100%;
    
}
body{
    display: flex;
    flex-direction: column;
}
.hero-image{
    background-image: url("images/jake.jpg");
    background-color: #cccccc;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    color: white;
    font-family: "PT Serif";
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 3rem;
    letter-spacing: 0.25em;
}

.content{
    flex: 1 0 auto;
    padding: 20px;
    height: 87%;
}

footer{
    font-size: 3rem;
    color: white;
    flex-shrink: 1;
}

footer > div{
    width: 50px;
    height: 50px;
    background-color: white;
    margin-left: 5%;
    
}

